

@{
    ViewBag.Title = "Product Browse Page";
}

@if (Request.IsAuthenticated)
{


    foreach (var item in Model)
    {
<div class="div-block"></div>
<div class="add_remove">
    @Html.ActionLink("x", "notFav", "ProductBrowse", new { pid = item.Id }, htmlAttributes: new { @class = "button_remove w-button" })
    @Html.ActionLink("+", "AddToFav", "ProductBrowse", new { pid = item.Id }, htmlAttributes: new { @class = "button_add w-button" })

</div>
<div class="product-view w-container">
    <img src="@item.LargeImage" width="600" height="600" srcset="@item.LargeImage 500w, @item.LargeImage 600w" sizes="(max-width: 479px) 90vw, (max-width: 767px) 80vw, (max-width: 991px) 582.390625px, 600px" class="product-image"></div>
<div class="section">
    <div class="product-name"></div>
</div>
<div class="product-description"></div>

    }
}


